*{
    color:black;
    box-sizing:border-box;
    text-align:center;
}

header{
    background:red;
    padding: 10px;
    margin: 5px;
}

nav{
    background: gray;
    padding: 10px;
    margin: 5px;
}

section{
    background:blue;
    color:white;
    padding: 10px;
    float:left;
    width:49%;
    padding: 5px;
    margin: 6px;
}

.article{
    background:pink;
    margin: 5px;
    padding: 20px;
}

.headings{
    background:orange;
    margin: 5px;
    padding: 3px;
}

.p{
    background:aqua;
    margin: 5px;
    padding: 3px;
}
aside {
    background:green;
    float:left;
    width:49%; 
    padding: 114px 0;
    margin:6px;
    
}

footer{
    background:brown;
    clear:both;
    padding: 10px;
    margin: 5px;
    }


